// Styling for the footer
footer {
  padding: 25px 0;
  background-color: #eee;

  
}


@media(max-width:768px) {
  footer {
    .col-md-3 {
      padding-top: 8px;
      border-bottom: 1px solid #ccc;
    }
  }
}

