body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
  font-size: 0.85rem;
}

a {
  color: #173f49;
}

a:hover {
  color: #0b1e22;
}

.text-primary {
  color: #173f49 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 50px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #173f49;
  border-color: #173f49;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #0e262c !important;
  border-color: #0e262c !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

.btn-outline-primary {
  color: #173f49;
  border-color: #173f49;
  border-radius: 0rem;
  margin: auto;
  line-height: 3rem;
}

.btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:hover {
  background-color: #0e262c !important;
  border-color: #0e262c !important;
  color: white;
}

.btn-outline-primary:active, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5) !important;
}

::-moz-selection {
  background: #173f49;
  text-shadow: none;
}

::selection {
  background: #173f49;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #173f49;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #fff;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #e6e6e6;
}

#mainNav .search {
  /* Hold final focused state
     ****************************/
}

@keyframes aftermagic {
  0% {
  }
  10% {
    width: 24px;
    bottom: -10px;
    right: -10px;
  }
  15% {
    opacity: 1;
  }
  35% {
    width: 13px;
    bottom: -3px;
    right: -3px;
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  64% {
    opacity: 0;
  }
  65% {
    opacity: 1;
    width: 13px;
    bottom: -2px;
    right: -3px;
  }
  75% {
    width: 30px;
    bottom: 4px;
    right: 10px;
  }
  90% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
  100% {
    width: 20px;
    bottom: 10px;
    right: 15px;
  }
}

@keyframes beforemagic {
  0% {
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: 1;
    width: 13px;
    top: -4px;
    right: -3px;
  }
  65% {
    width: 30px;
    top: 6px;
    right: 10px;
  }
  80% {
    width: 20px;
    top: 9px;
    right: 13px;
  }
  100% {
    width: 20px;
    top: 9px;
    right: 13px;
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    color: transparent;
  }
  20% {
    width: 36px;
  }
  45% {
    width: 250px;
  }
  99% {
    color: transparent;
  }
  100% {
    width: 250px;
    color: #fff;
  }
}

@keyframes alert {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#mainNav .search form {
  transition: all 0.15s;
}

#mainNav .search form.explode {
  transform: scale(1.4);
  opacity: 0;
}

#mainNav .search html {
  padding-top: 100px;
}

#mainNav .search form {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  position: relative;
}

#mainNav .search input[type="submit"] {
  display: none !important;
}

#mainNav .search input {
  width: 100%;
}

#mainNav .search input {
  background: none;
  border: 3px solid #fff;
  border-radius: 26px;
  box-sizing: border-box;
  padding: 5px 15px 7px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  position: relative;
}

#mainNav .search input:focus {
  outline: none;
}

#mainNav .search .after {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 1px;
  right: 0;
  z-index: 1;
}

#mainNav .search form.open .after {
  cursor: pointer;
}

#mainNav .search .after:before,
#mainNav .search .after:after {
  content: '';
  width: 13px;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  transform-origin: 100% 100%;
}

#mainNav .search .after:after {
  bottom: -3px;
  right: -3px;
  transform: rotate(45deg);
}

#mainNav .search .after:before {
  top: -3px;
  right: -3px;
  transform: rotate(-45deg);
  opacity: 0;
}

#mainNav .search form,
#mainNav .search form .after,
#mainNav .search form .after:before,
#mainNav .search form .after:after {
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
}

#mainNav .search form.in {
  animation-name: expand;
}

#mainNav .search form.in .after:before {
  animation-name: beforemagic;
}

#mainNav .search form.in .after:after {
  animation-name: aftermagic;
}

#mainNav .search form.close,
#mainNav .search form.close .after,
#mainNav .search form.close .after:before,
#mainNav .search form.close .after:after {
  animation-direction: reverse;
}

#mainNav .search form.close {
  animation-name: expand;
}

#mainNav .search form.close .after:before {
  animation-name: beforemagic;
}

#mainNav .search form.close .after:after {
  animation-name: aftermagic;
}

#mainNav .search form.open {
  width: 250px;
  color: #fff;
}

#mainNav .search form.open .after {
  z-index: 3;
}

#mainNav .search form.open .after:before {
  width: 20px;
  top: 9px;
  right: 13px;
  opacity: 1;
}

#mainNav .search form.open .after:after {
  width: 20px;
  bottom: 10px;
  right: 15px;
}

#mainNav .navbar-nav .nav-item .dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#mainNav .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #ddd;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #173f49;
}

#mainNav .navbar-nav .nav-item .nav-link.active .dropdown-content, #mainNav .navbar-nav .nav-item .nav-link:hover .dropdown-content {
  display: block;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

#product .product-item {
  right: 0;
  margin: 0 0 15px;
}

#product .product-item .product-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#product .product-item .product-link .product-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(23, 63, 73, 0.9);
}

#product .product-item .product-link .product-hover:hover {
  opacity: 1;
}

#product .product-item .product-link .product-hover .product-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#product .product-item .product-link .product-hover .product-hover-content i {
  margin-top: -12px;
}

#product .product-item .product-link .product-hover .product-hover-content h3,
#product .product-item .product-link .product-hover .product-hover-content h4 {
  margin: 0;
}

#product .product-item .product-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#product .product-item .product-caption h4 {
  margin: 0;
  text-transform: none;
}

#product .product-item .product-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#product * {
  z-index: 2;
}

@media (min-width: 767px) {
  #product .product-item {
    margin: 0 0 30px;
  }
}

.product-modal {
  padding-right: 0px !important;
}

.product-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.product-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.product-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.product-modal .modal-content p {
  margin-bottom: 30px;
}

.product-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.product-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.product-modal .modal-content img {
  margin-bottom: 30px;
}

.product-modal .modal-content button {
  cursor: pointer;
}

.product-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.product-modal .close-modal:hover {
  opacity: 0.3;
}

.product-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.product-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

footer {
  padding: 25px 0;
  background-color: #eee;
}

@media (max-width: 768px) {
  footer .col-md-3 {
    padding-top: 8px;
    border-bottom: 1px solid #ccc;
  }
}
