<!-- Header -->
<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase">Full Banner AD</div>
        </div>
    </div>
</header>

<!-- Main -->
<section id="welcome">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Welcome</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum
                    ex magni, dicta impedit.</h3>
            </div>
        </div>
        <div class="row text-center search d-none d-lg-block">
            <div class="col-lg-12 d-flex">
                <h5 class="mr-2 text-left">Search products</h5>
                <input ng-model="vm.search" type="text" class="form-control mr-2" placeholder="Ex: Adventure" aria-label="Username" aria-describedby="basic-addon1">
                <i class="fa fa-search fa-3x"></i>
            </div>
        </div>
    </div>
</section>

<!-- Product Grid -->
<section class="bg-light" id="product">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-12">
                <h3 class="section-heading">Featured Products</h3>
            </div>
        </div>
        <div id="productsCarousel" class="row">
            <div ng-repeat="product in vm.products" class="col-md-4 col-sm-6 product-item">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">{{product.title}}</h6>
                        <a class="card-img-top product-link" data-toggle="modal" href="#{{product.id}}">
                            <div class="product-hover">
                                <div class="product-hover-content">
                                    <i class="fa fa-search fa-3x"></i>
                                </div>
                            </div>
                            <img class="img-fluid" ng-src="{{product.image}}" alt="">
                        </a>
                        <div class="d-flex py-4">
                            <p class="pr-2">{{product.description}}</p>
                            <a data-toggle="modal" href="#{{product.id}}" class="btn btn-outline-primary">View</a>
                        </div>

                    </div>
                </div>
            </div>
         
        </div>
    </div>
    <!-- <div class="d-block d-lg-none" id="productsCarousel">
        <div ng-repeat="product in vm.products" class="organizer-list">
            <div ng-if="!organizer.thumbnailPhoto" class="icon-size-60 icon-circle" ng-style="{{organizer.color}}" style="margin:auto; color: white">{{organizer.sAMAccountName | shortName: 2}}</div>
            <img ng-if="organizer.thumbnailPhoto" class="icon-size-60 icon-circle" src="{{organizer.thumbnailPhoto}}" style="margin:auto">
            <div class="event-detail-organizer-name">{{organizer.cn}}</div>
        </div>
    </div> -->
</section>



<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid" src="img/product/02-full.jpg">
            </div>
            <div class="col-md-6 col-sm-12">
                <img class="img-fluid" src="img/product/02-full.jpg">
            </div>
        </div>
    </div>
</section>
<!-- product Modals -->

<!-- Modal -->
<div class="product-modal modal fade" ng-repeat="modal in vm.products" id="{{modal.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">{{modal.title}}</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-fluid d-block mx-auto" ng-src="{{modal.fullImage}}" alt="">
                            <p>{{modal.description}}</p>
                            <ul class="list-inline">
                                <li>Date: January 2017</li>
                                <li>Client: Threads</li>
                                <li>Category: Illustration</li>
                            </ul>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fa fa-times"></i>
                                Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
