<div ng-controller="ShellController as vm">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Dominion Software</a>

            <div class="d-block d-lg-none search">
                <form>
                    <input type="text" />
                    <div class="after"></div>

                </form>
            </div>



            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Products
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Category</a>
                            </li>
                            <li>
                                <a href="#">Category</a>
                            </li>
                            <li>
                                <a href="#">Category</a>
                            </li>
                            <li>
                                <a href="#">Category</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                        <div class="nav-link" href="#">Products
                            <div class="dropdown-content">
                                <a href="#">Product 1</a>
                                <a href="#">Product 2</a>
                                <a href="#">Product 3</a>
                                <a href="#">Product 4</a>
                            </div>
                        </div>

                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <div ui-view></div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="d-none d-md-block">Home</h4>
                    <h4 class="d-block d-md-none" ng-click="vm.collapseOne=!vm.collapseOne" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <i ng-hide="vm.collapseOne" class="fa fa-angle-down"></i>
                        <i ng-hide="!vm.collapseOne" class="fa fa-angle-up"></i>
                        Home
                    </h4>
                    <div id="collapseOne" class="col collapse show">
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4 class="d-none d-md-block">Products</h4>
                    <h4 class="d-block d-md-none" ng-click="vm.collapseTwo=!vm.collapseTwo" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="true" aria-controls="collapseTwo">
                        <i ng-hide="vm.collapseTwo" class="fa fa-angle-down"></i>
                        <i ng-hide="!vm.collapseTwo" class="fa fa-angle-up"></i>
                        Products
                    </h4>
                    <div id="collapseTwo" class="col collapse show">
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <h4 class="d-none d-md-block">Services</h4>
                        <h4 class="d-block d-md-none" ng-click="vm.collapseThree=!vm.collapseThree" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="true" aria-controls="collapseThree">
                            <i ng-hide="vm.collapseThree" class="fa fa-angle-down"></i>
                            <i ng-hide="!vm.collapseThree" class="fa fa-angle-up"></i>
                            Services
                        </h4>
                    <div id="collapseThree" class="col collapse show">
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                        <h4 class="d-none d-md-block">Help</h4>
                        <h4 class="d-block d-md-none" ng-click="vm.collapseFour=!vm.collapseFour" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="true" aria-controls="collapseFour">
                            <i ng-hide="vm.collapseFour" class="fa fa-angle-down"></i>
                            <i ng-hide="!vm.collapseFour" class="fa fa-angle-up"></i>
                            Help
                        </h4>
                    <div id="collapseFour" class="col collapse show">
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                        <div>
                            <a href="#">Menu item</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </footer>
</div>